.container {
    border: 1px solid black;
    width: 400px;
    margin-top: 3%;
    border-radius: 10px;
}

h1 {
    font-weight: 550;
    font-size: 2rem;
}

.form-group {
    padding: 0px 10px;
}

.form-control {
    height: 40px;
}

.form-select {
    width: 250px;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 3px;
    height: 40px;
}

.btn {
    width: 200px;
    border-radius: 10px;
}

p {
    text-align: center;
    opacity: .8;
}